network_painting_10_epochs.pth
network_painting_20_epochs.pth
network_painting_40_epochs.pth
soft_encoded_images.pkl
network_painting_30_epochs.pth
network_100.pkl
network_painting_50_epochs_retrained.pth
network_painting_70_epochs_retrained.pth
network_painting_90_epochs_retrained.pth
network_cat_10_epochs_retrained_1.pth
soft_encoded_images_1hot_cat.pkl
soft_encoded_images_1hot_cat2.json
soft_encoded_images_1hot_cat2.pkl
image-colorization.py
network_cat_15_epochs_4_1.pth
network_cat_30_epochs_1.pth
network_cat_45_epochs_4_2.pth
network_cat_100_epochs_4_3.pth
network_cat_130_epochs_4_4.pth
archive.zip
image-colorization.ipynb
network_cat_160_epochs_4_5.pth
network_cat_190_epochs_4_6.pth
network_cat_270_epochs_4_7.pth
cat and dog data/loss
network_cat_300_epochs_4_8.pth
test
